/* Left Menu */

.block-list_paths {
    width: 285px;
	z-index: 100;
	min-height: 95vh;
	height: 100%;
    background-color: #21252b;
}

.block-list_paths ul li {
    padding: 5px 10px;
}

.block-list_paths ul li a {
	text-decoration: none;
	color: lightslategray;
}

.block-list_paths ul li a span {
    font-size: 15px;
}

.list-group-item:first-child {
    border-radius: 0;
}

.list-group-item-dark {
	background-color: #21252b;
}

.list_paths-header {
    background-color: #16a2b8;
    padding: 20px;
}

.list-group-item {
	border: none;
}
.list-group-item .empty-dir {
	padding-left: 14px;
}


/* Table Files */
#table-block {
	min-height: 100%;
	background-color: #282c34;
}
#table_files {
    margin-bottom: 0;
    background-color: #282c34;
}

#table_files .type_img {
	opacity: 0.6;
}

#table_files .link_files {
	font-size: 100%;
}

#table_files .type_img {
	position: relative;
}

#table_files .new-file::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 30%;
	width: 40px;
	height: 40px;
	background: url('/fm/css/img/new-file.png') no-repeat center;
	background-size: contain;
}

#table_files tr:hover .type_img {
	opacity: 1;
}

#table_files input:checked tr {
	background-color: #31374e;
}

#table_files tbody tr {
	height: 82px;
}

#table_files .control_item:hover,
#closePanel:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
} 

#table_files thead th a {
    color: #fff;
    font-weight: bold;
}
    
#table_files thead th:first-child,
#table_files tbody td:first-child{
	width: 54px;
}
#table_files #checkboxControl img {
	margin-bottom: 6px;
}

#table_files thead th:first-child {
	padding-bottom: 14px;
}

#table_files thead th,
#table_files tbody td {
	white-space: nowrap;
}

#table_files thead th img:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

#table_files thead th:nth-child(2),
#table_files tbody td:nth-child(2) {
	padding-left: 5px;
	padding-right: 5px;
}


#table_files tbody td:nth-child(3) {
	width: 365px;
}

#table_files thead th:nth-child(3),
#table_files tbody td:nth-child(4) {
	width: 65px;
	padding: 0;
}

#table_files tbody td:nth-child(4) {
	padding-top: 15px;
}

#table_files tbody td:nth-child(5) {
	padding-top: 28px;
}


#table_files tbody [type='checkbox'] {
	margin-top: 20px;
}

#table_files tbody .type_img {
	width: 18px;
	padding-top: 20px;
}

#table_files tbody .link-file a {
	margin-top: 15px;
}

#table_files tbody .file_size,
#table_files tbody .file_change_date {
	padding-top: 27px;
}

#table_files tbody .input-group {
	margin-top: 10px;
}

#table_files tbody tr:first-child td {
	background-color: #00000073;
}

#table_files tbody tr:first-child td a {
	text-decoration: none;
	width: 150px;
	height: 70px;
}

#table_files .copy-text {
	margin-bottom: 0;
	color: #7fb34f;
}

#table_files .move-text {
	margin-bottom: 0;
	color: orange;
}

#table_files .delete-text {
	margin-bottom: 0;
	color: #67b9cf;
}

#table_files input[type=checkbox] {
	 width: 1.04rem;
	 height: 1.04rem;
}

#actions-panel {
	padding: 10px;
	height: 70px;
}
#actions-panel span {
	float:right;
	display:inline-block;
	margin-top: -10px;
	margin-right: -5px;
}

#actions-panel span:hover {
	cursor: pointer;
}

.ace_editor {
	border: 1px solid lightgray;
	font-size: 18px;
}

#editor {
	width: 100%;
	height: 80vh;
}

/*  Lamp */
.lamp {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.lamp:before, .lamp:after {
	content: "";
	display: block;
}

.lamp:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}

.lamp:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}

.lamp:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.lamp:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}

.lamp:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}

.lamp:focus {
	outline: 0;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

@keyframes backRotate {
	0% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}