{%extends 'header.twig'%}

	{%block scripts%}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" integrity="sha256-kCykSp9wgrszaIBZpbagWbvnsHKXo4noDEi6ra6Y43w=" crossorigin="anonymous"></script>
		<script src="{{ FM_REL_PATH }}js/codeEditor.js"></script>
    {%endblock%}

	{%block navbar%}
		<div class="collapse navbar-collapse justify-content-end">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="searchBtn">Search</button>
			</form>
		</div>
    {%endblock%}