	<footer>
		{%block modals%}
		    <div class="modal fade" id="modalNewFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog" role="document">
		            <div class="modal-content">
		                <div class="modal-header bg-secondary text-white">
		                    <h5 class="modal-title">Create File</h5>
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                        <span aria-hidden="true">&times;</span>
		                    </button>
		                </div>
		                <form id="formNewFile" class="create_files">
		                    <div class="modal-body form-group text-center">
		                        <label for="newFileName">Please, enter filename:</label>
		                        <input type="text" class="px-3 rounded text-center" id="newFileName" name="fileName" data-type="file" placeholder="for example: test.php" required="required">
		                        <p class="error_msg text-danger text-center"></p>
		                    </div>
		                    <div class="modal-footer">
		                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                        <button type="submit" class="btn btn-primary btn-outline-info">Save</button>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		    
		    <div class="modal fade" id="modalNewFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog" role="document">
		            <div class="modal-content">
		                <div class="modal-header bg-secondary text-white">
		                    <h5 class="modal-title">Create Folder</h5>
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                        <span aria-hidden="true">&times;</span>
		                    </button>
		                </div>
		                <form id="formNewFolder" class="create_files">
		                    <div class="modal-body form-group text-center">
		                        <label for="newFolderName">Please, enter folder name:</label>
		                        <input type="text" class="px-3 rounded text-center" id="newFolderName" name="folderName" data-type="folder" placeholder="for example: Test" required="required">
		                        <p class="error_msg text-danger text-center"></p>
		                    </div>
		                    <div class="modal-footer">
		                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                        <button type="submit" class="btn btn-primary btn-outline-info">Save</button>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>

		    <div class="modal fade" id="modalUploadsFiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog" role="document">
		            <div class="modal-content">
		                <div class="modal-header bg-secondary text-white">
		                    <h5 class="modal-title">Uploads new files</h5>
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                        <span aria-hidden="true">&times;</span>
		                    </button>
		                </div>
		                <form id="formUploadsFiles" enctype="multipart/form-data">
		                    <div class="modal-body form-group text-center">
		                        <label for="newFiles">Please, choose files:</label>
		                        <input type="file" class="px-3 rounded text-center" id="newFiles" name="newFiles" multiple="true" required="required">
		                    </div>
		                    <p class="error_msg text-danger text-center"></p>
		                    <div class="progress m-3 d-none">
		                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		                    </div>
		                    <div class="modal-footer">
		                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                        <button type="submit" class="btn btn-primary btn-outline-info">Save</button>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		{%endblock%}
		<div class="row">
			<div class="col-12">
				<!-- <p>MaxiMir. Made with love &lt;/&gt;</p> -->
			</div>
	</footer>
</body>
</html>